<main class="login-main">
 <div class="signup_area">
    <h1 class="welcome-head-text">Welcome to Hebe</h1>
    <p class="welcome-sub-text">...Best Goal Tracker Tool</p>
    <img class="design-image" src="code.png">
</div>
<div class="faq-area">
    <div class="main_content">
        <p><h3>What is the platform all about?</h3> <span>Hebe tracker helps users to 
          input their goals and monitor it.<br> The inputted goals are either completed or failed.
        </span></p>
        <p><h3>Who can use the platform?</h3> <span>The platform is open to everybody. You can create an<br> account that will sign you in.
        </span></p>
        <p><h3>Can I login with any social media account?</h3> 
        <span>Yes. Users have the ability to login via facebook or gmail.
        </span></p>
        <p><h3>How safe is my personal information?</h3> 
        <span>Your personal information is never shared with a third party.<br> Every details is solely
          for accessing the website.
        </span></p>
        <p><h3>Can I suggest new features for the application?</h3> 
        <span>Yes. You can create an issue on our <a href="https://github.com/JonasAnn/Hebe-see">github repository</a><br> and it will be looked into by any of our admins.
        </span></p>
      </div>
</div>
</div>
</main>