<main class="login-main">
 <div class="signup_area">
    <h1 class="welcome-head-text">Hebe Goal Tracker</h1>
    <p class="welcome-sub-text">...Best Goal Tracker Tool</p>
    <img class="design-image" src="code.png">
</div>
<div class="signup-form">
    <h2 class="register-head-text">Forgot your password?</h2>
    <p class="register-sub-text">To reset your password, please enter the email address you signed up with.</p>
    <form action="/send-reset-mail" method="POST">
      <label for="email">
        <input type="email" name="email" id="email" placeholder="Email">
      </label>
      <button type="submit" class="register-btn reset-btn">Reset my password</button>
      <p class="login-link back-login"><a href="login.html">Back to login page</a></p>
    </form>
</div>
</div>
</main>