 <main class="dashboard-area">
      <div class="profile-col">
          <h4 class="hi-name">Hi <span class="hi-user"><%= user.name %></span></h4>
          <p class="hi-email"><%= user.email %></p>
      </div>
      <div class="goal-board">
          <div class="logo-row"><img src="Group.png" class="img-fluid logo-img"/></div>
          
          <ul class="sub-goal-menu">
              <li class="sg-goal-btn"><a href="/dashboard"><img src="add.png" class="img-fluid">Goal</a></li>
              <li class="sg-report-btn"><a href="/statistics"><img src="report.png" class="img-fluid">Report</a></li>
              <li class="sg-logout-btn"><a href="/logout"><img src="logout.png" class="img-fluid"> Logout</a></li>
          </ul>
          <div class="sub-goal-board"> 

            <p class="h2"><img src="diagram.png" class="img-fluid arrow-img">Statistics</p>
            <div class="goal-summary">
              <div class="goals-completed">
                <h6>
                  GOALS COMPLETED
                </h6>
                  <p>
                    1
                  </p>
                  <a href="/dashboard">Achieve more goals >></a>
              </div>
              <div class="goals-pending">
                <h6> GOALS PENDING </h6>
                <p>
                    3
                  </p>
                  <a href="/dashboard">Check or review goals >></a>
              </div>
              <div class="goals-failed">
             <h6> GOALS FAILED </h6>
             <p>
                    2
                  </p>
                  <a href="#">Restart or set new goals >></a>
              </div>
              <div class="summary">
                <h6>Summary</h6>
                <p>
                  Goals Completed
                </p>
                <p>
                  Goals Pending
                </p>
                <p>
                Goals Failed
                </p>
              </div>
            </div>
            <div class="pending-goals-text">
              <h5>
                  PENDING GOALS
                </h5>

            <div class="pending-goals">
             <div class="goal-box">

             <div class="text-box">
               <h5>Spend quality time with my children</h5>
               <p>Created  40min ago</p>
             </div>

             <div class="percentage-box">
              <div class="percentage-fill"></div>
              <div class="percentage-text">
               <p>20%</p>
             </div>
             </div>

             <div class="date-box">
                  <p>Due Date - 28th Dec, 2099</p>
             </div>

          </div>
          <div class="goal-box">

             <div class="text-box">
               <h5>Spend quality time with my children</h5>
               <p>Created  40min ago</p>
             </div>

             <div class="percentage-box">
              <div class="percentage-fill"></div>
              <div class="percentage-text">
               <p>20%</p>
             </div>
             </div>

             <div class="date-box">
                  <p>Due Date - 28th Dec, 2099</p>
             </div>

          </div>
          <div class="goal-box">

             <div class="text-box">
               <h5>Spend quality time with my children</h5>
               <p>Created  40min ago</p>
             </div>

             <div class="percentage-box">
              <div class="percentage-fill"></div>
              <div class="percentage-text">
               <p>20%</p>
             </div>
             </div>

             <div class="date-box">
                  <p>Due Date - 28th Dec, 2099</p>
             </div>

          </div>
          <div class="goal-box">

             <div class="text-box">
               <h5>Spend quality time with my children</h5>
               <p>Created  40min ago</p>
             </div>

             <div class="percentage-box">
              <div class="percentage-fill"></div>
              <div class="percentage-text">
               <p>20%</p>
             </div>
             </div>

             <div class="date-box">
                  <p>Due Date - 28th Dec, 2099</p>
             </div>

          </div>
  
            </div>
           </div>
      </div>
  </main>