<main class="login-main">
 <div class="signup_area">
    <h1 class="welcome-head-text">Hebe Goal Tracker</h1>
    <p class="welcome-sub-text">...Best Goal Tracker Tool</p>
    <img class="design-image" src="code.png">
</div>
<div class="success-box">
<img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569600300/logo_nulfnw.png" alt="#" class="vector">
<h1>Account Created <br>
Successfully</h1>
<p>It's time to explore!</p>
<a href="/login" class="success-btn">Login</a>
</div>

</main>