  <main class="home-main">
    <div class="main-text">
    <h1>Hebe Goal Tracker</h1>
    <p>Goal setting and goal managemnt software for high achievers</p>
  </div>
    <div class="main-btn">
  <a href="/login" class="login-btn">Login</a>
  <a href="/register" class="get-btn">Get Started</a>
    </div>
  </main>